@import url(http://fonts.googleapis.com/css?family=Roboto Condensed:400,700);

html, body {
    margin: 0;
    padding: 0;
}

body, select {
    font-family: 'Roboto Condensed', sans;
    font-weight: 400;
}

b {
    font-weight: 700;
}

#logo {
    position: absolute;
    left: 292px;
    top: 5px;
    width: 216px;
}

#container {
    position: relative;
    margin: 0 auto;
    width: 800px;

    font-size: 16px;
}

#canvas {
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

#panel {
    position: absolute;
    top: 160px;
    right: 40px;
}

#controls {
    overflow: hidden;
}

.controlBox {
    text-align: center;
    float: left;
    margin-left: 80px;
}

.sortable {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    padding-top: 8px;

    width: 280px;
    min-height: 100px;

    border-radius: 5px;
    border: 1px solid #ccc;
}

.sortable li {
    width: 88%;
    margin: 0px auto 8px auto;
    padding: 3px 8px 3px 8px;

    background-color: #eee;
    border-bottom: 1px solid #aaa;
    border-radius: 5px;

    cursor: move;
}

li.sortable-ghost {
    opacity: 0.4;
}

p.footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    color: #444;
}

a {
    color: #CC333F;
}

#settings {
    margin-top: 30px;
}

select {
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    background-color: #fff;

    border: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    outline: none;
}

.rect {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 1px -2px 1px;
    border: 1px solid #444;
    border-radius: 3px;
}

.X { background-color: #fff; }
.Cyan { background-color: #00A0B0; }
.Brown { background-color: #6A4A3C; }
.Red { background-color: #CC333F; }
.Orange { background-color: #EB6841; }
.Yellow { background-color: #EDC951; }
